h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: navy;
     text-align: center;
}
p{
    text-align: center;
}
.carousel{
    padding: 2%;
}
h1 {
    text-align: center;
    color: pink;
}
.i{
    background-color: ivory ;
}
.c{
    background-color: ivory;
}